@import '../../../styles/mixin/button';

:host {
    display: inline-flex;
    --button-transition: #{$button-transition};

    --icon-bubble-size: 40px;
    --side-padding: 31px;
    --top-bottom-padding: 0;

    --icon-color: var(--color-neutral-100);
}

true-button {
    --height: 60px;
    --font-size: 16px;

    // Accounts for the bubble when text is centered making sure all text can be seen
    --padding:
        var(--top-bottom-padding)
        calc(var(--side-padding) + var(--icon-bubble-size))
        var(--top-bottom-padding)
        var(--side-padding);

    --border-radius: 30px;
    --font-weight: bold;

    --min-width: calc(100% - var(--icon-bubble-size));
    width: 100%;
}

.icon-bubble {

    width: var(--icon-bubble-size);
    height: var(--icon-bubble-size);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 10px;
    top: 10px;

    background-color: var(--color-custom-brand-accent-shade);

    --width: 18px;
    transition: background-color var(--button-transition);
    border-radius: 999rem;

    true-icon {
        color: var(--icon-color);
    }
}

// Secondary Action Style
:host([type="secondary"]) {
    --icon-color: var(--color-secondary);

    true-button {
        --color: var(--color-secondary);
        --color-hover: var(--color-primary);
        --color-disabled: var(--color-tertiary);

        --bg-color: var(--bg-color-secondary);
        --bg-color-hover: var(--bg-hover-secondary);
        --bg-color-disabled:  var(--bg-color-primary);

        --border-width: 0px;

        --border-color: transparent;
        --border-color-hover: transparent;
        --border-color-disabled: transparent;
    }

    .icon-bubble {
        background-color: var(--bg-hover-secondary);
    }
}

:host([disabled]) {
    --icon-color: var(--color-tertiary);
    
    .icon-bubble {
        background-color: var(--bg-color-tertiary);
    }
}

:host(:not([text-align="left"])) {
    width: 100%;

    true-button {
        --padding:
            var(--top-bottom-padding)
            calc(var(--side-padding) + var(--icon-bubble-size));
    }

}
