:host {
  display: block;
  --color: var(--color-primary);
}
:host true-text-base {
  --line-height: initial;
  --text-color: var(--color);
}

:host([size=h1]) true-text-base {
  --line-height: 52px;
}

:host([size=h3]) true-text-base {
  --line-height: 32px;
}