:host {
  --stroke-color: currentColor;
  --path-color: none;
  --path-opacity: 1;
  --background-color: none;
  --background-shadow: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
:host::before {
  content: "";
  position: absolute;
  background-color: var(--background-color);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  opacity: var(--background-opacity);
  box-shadow: var(--background-shadow);
}
:host svg {
  transform: rotate(-90deg);
  padding: 5px;
  animation: spin 3s infinite linear;
}
:host .background {
  stroke: var(--path-color);
}
:host .loader {
  stroke: var(--stroke-color);
  animation: dash 2s infinite;
}
@keyframes spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(269deg);
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: var(--positive-circumference);
  }
  to {
    stroke-dashoffset: var(--negative-circumference);
  }
}