:host {
    display: block;
    --color: var(--color-tertiary);

    true-text-base {
        --text-color: var(--color);
        --text-transform: uppercase !important;
        --letter-spacing: 1px;
    }
}